.card, .card-footer {
    opacity: 80%;
}

.list-group-item {
    background-color: #454951 !important;
    color: #ece3d4 !important;
    opacity: 80%;
}

.active {
    color: #48b6cd !important;
    border: none;
}

.tabs-bg-dark {
    background-color: #212629 !important;
}

.match-color {
    color: #48b6cd;
}