html, body { 
    background: url(https://wallpapercave.com/wp/wp5204110.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.card {
    opacity: 80%;
}

.navbar, .navbar-expand{
    background-color: #454951 !important;
}

.fab {
    color: #454951;
}
.fas {
    color: #48b6cd;
}

.card {
    background-color: #454951 !important;
    color: #ece3d4;
}

.nav-link, .navbar-brand {
    color: #ece3d4 !important;
}

.nav-link:active {
    color: #48b6cd !important;
}

.active {
    color: #48b6cd !important;
}

.navbar-brand {
    font-size: xx-large !important;
    font-weight: bold !important;
}