html, body { 
    background: url(https://wallpapercave.com/wp/wp5204110.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* to match color of other grey items after opacity is applied to them without making this opaque */
.navbar, .navbar-expand {
    background-color: #5e6c73 !important;
}

.navbar-toggler-icon {
    color: #ece3d4 !important;
}

.fab {
    color: #454951 !important;
}
.fas {
    color: #48b6cd;
}

.nav-link, .navbar-brand {
    color: #ece3d4 !important;
}

.navbar-brand {
    font-size: xx-large !important;
    font-weight: bold !important;
}

.active {
    color: #48b6cd !important;
}

.card {
    background-color: #454951 !important;
    color: #ece3d4;
    opacity: .8;
}

.card-footer {
    background-color: #48b6cd !important; 
}